".text.html":
  "ZURB Foundation 5 Accordion":
    prefix: "zfacc4"
    body:"""
    <dl class="accordion" data-accordion>
      <dd>
        <a href="#panel1">${1:Title_Accordion-1}</a>
        <div id="panel1" class="content active">
          ${5:Content_Panel-1}
        </div>
      </dd>
      <dd>
        <a href="#panel2">${2:Title_Accordion-2}</a>
        <div id="panel2" class="content">
          ${6:Content_Panel-2}
        </div>
      </dd>
      <dd>
        <a href="#panel3">${3:Title_Accordion-3}</a>
        <div id="panel3" class="content">
          ${7:Content_Panel-3}
        </div>
      </dd>
      <dd>
        <a href="#panel4">${4:Title_Accordion-4}</a>
        <div id="panel4" class="content">
          ${8:Content_Panel-4}
        </div>
      </dd>
    </dl>$9
    """
