".text.html":
  "ZURB Foundation 5 Accordion":
    prefix: "zfacc2"
    body:"""
    <dl class="accordion" data-accordion>
      <dd>
        <a href="#panel1">${1:Title_Accordion-1}</a>
        <div id="panel1" class="content active">
          ${3:Content_Panel-1}
        </div>
      </dd>
      <dd>
        <a href="#panel2">${2:Title_Accordion-2}</a>
        <div id="panel2" class="content">
          ${4:Content_Panel-2}
        </div>
      </dd>
    </dl>$5
    """
