".text.html":
  "ZURB Foundation 5 Breadcrumb":
    prefix: "zfbre"
    body:"""
    <ul class="breadcrumbs">
      <li><a href="#">Home</a></li>
      <li><a href="#">Features</a></li>
      <li class="unavailable"><a href="#">Gene Splicing</a></li>
      <li class="current"><a href="#">Cloning</a></li>
    </ul>
    """
