".text.html":
  "ZURB Foundation 5 Half Grid":
    prefix: "zfhalgri"
    body:"""
    <div class="row">
      <div class="small-6 medium-6 large-6 columns"></div>
      <div class="small-6 medium-6 large-6 columns"></div>
    </div>
    """
