".text.html":
  "ZURB Foundation 5 Joyride":
    prefix: "zfjoy"
    body:"""
    <!-- At the bottom of your page but inside of the body tag -->
    <ol class="joyride-list" data-joyride>
      <li data-id="firstStop" data-text="Next" data-options="tip_location: top; prev_button: false">
        <p>Joyride</p>
      </li>
      <li data-id="numero1" data-class="custom so-awesome" data-text="Next" data-prev-text="Prev">
        <h4>Stop #1</h4>
        <p>Joyride</p>
      </li>
      <li data-id="numero2" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
      <h4>Stop #2</h4>
        <p>joyride</p>
      </li>
      <li data-button="End" data-prev-text="Prev">
        <h4>Stop #3</h4>
        <p>modal</p>
      </li>
    </ol>
    """
